/*

Click the diary to start animating.
View the project on Github : https://github.com/akzhy/Vara

*/
html,
body {
  height: 100%;
}
body {
  background: #fff4d3;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 60%;
  margin: 20px auto;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
#container {
  display: inline-block;
  vertical-align: middle;
}
.book {
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
  transition: transform 1s;
  position: absolute;
  left: 0;
  top: 0;
  right: 20%;
  bottom: 10%;
  margin: auto;
  width: 30em;
  height: 40em;
}
.book .side {
  width: 3em;
  height: 40em;
  background: #b36060;
  position: absolute;
  left: -3em;
  top: 0;
  transform-origin: 100% 100%;
  transform: rotateY(-90deg) rotateX(0deg);
}
.book .bottom {
  width: 25em;
  height: 3em;
  background: #e2e2e2;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 100% 100%;
  transform: rotateX(90deg);
}
.book.open {
  transform: rotateX(35deg) rotateY(0deg) rotateZ(-25deg);
}
.book .paper,
.book .shadow {
  width: 25em;
  height: 40em;
  position: absolute;
  top: 0;
  left: 0;
}
.book .shadow {
  background: transparent;
  transform: translateZ(-3em);
  box-shadow: -1em 1em 0px 0px #ccc3a9;
  z-index: 1;
}
.book .paper {
  transition: transform 1s, box-shadow 0.5s 0.2s;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
}
.book .paper.open {
  box-shadow: 2.2em 1em 0px 0px #ccc3a9;
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
}
.book .paper .page.front {
  transition: transform 1s;
  transform-origin: 0 50%;
  backface-visibility: hidden;
  z-index: 2;
}

.book .page {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.book .first .page {
  background: #ef9a9a;
}
.book .first .page.front:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(160, 115, 115, 0.1);
}
.book .paper .back {
  transition: transform 1s;
  transform-origin: 0 50%;
  background: #e1e1e1;
}
.book .first.paper .back {
  background: #ef9a9a;
}
.book .intro {
  position: absolute;
  width: 90%;
  width: calc(100% - 3em);
  height: 90%;
  height: calc(100% - 3em);
  border: 2em solid #eee;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.book .intro h2 {
  padding: 0.5em 0.5em;
  font-size: 2em;
  color: #fff;
  word-break: break-all;
  text-align: left;
  letter-spacing: 5px;
}
.book .intro h1 {
  padding: 0.5em 0.25em;
  font-size: 5em;
  color: #fff;
  word-break: break-all;
}
.book .paper:not(.first) .page {
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 40px,
      #abced4 40px,
      #abced4 42px,
      transparent 42px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 1.5em;
}
.book .paper:not(.first) .back {
  background: #ef9a9a;
}
.book .open.second .back {
  background: url(../images/angry.jpg) center/cover no-repeat;
  background-size: 300px 300px;
  transform: translateZ(-1px);
}
.book .open.third .back {
  background: url(../images/sad.jpg) center/cover no-repeat;
  background-size: 300px 300px;
  transform: translateZ(-2px);
}
.book .open.fourth .back {
  background: url(../images/surprised.jpg) center/cover no-repeat;
  background-size: 300px 300px;
  transform: translateZ(-3px);
}
.book .open.fifth .back {
  background: url(../images/happy.jpg) center/cover no-repeat;
  background-size: 300px 300px;
  transform: translateZ(-4px);
}
.book .open.sixth.back {
  transform: translateZ(-5px);
}
.book .paper.first {
  z-index: 10;
}
.book .paper.second {
  z-index: 9;
}
.book .paper.third {
  z-index: 8;
}
.book .paper.fourth {
  z-index: 7;
}
.book .paper.sixth {
  z-index: 6;
}
.book .paper.fifth {
  z-index: 5;
}
.book .paper.first .front {
  transform: translateZ(0.6px);
}
.book .paper.second .front {
  transform: translateZ(0.5px);
}
.book .paper.third .front {
  transform: translateZ(0.4px);
}
.book .paper.fourth .front {
  transform: translateZ(0.3px);
}
.book .paper.fifth .front {
  transform: translateZ(0.2px);
}
.book .paper.sixth .front {
  transform: translateZ(0.1px);
}
.book .second-page #vara-container {
  width: 100%;
  height: 100%;
  padding: 1em;
}
#link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #615858;
  letter-spacing: 2px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .book {
    left: 50%;
  }
}

/* buttons */
.form-control .button-option {
  --border: 4px solid #021971;
  appearance: none;
  position: relative;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  border: none;
  margin: 20px;
}

button span {
  display: block;
  position: relative;
  padding: 1.4em 4em;
  background: #1641bc;
  color: white;
  border: var(--border);
  transition: transform 0.2s ease;
  z-index: 1;
  will-change: transform;
}

button::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background: white;
  border: var(--border);
}

button:hover span {
  transform: translate(-3px, -3px);
}

button:active span {
  transition: transform 0.05s ease;
  transform: translate(0, 0);
}

.form-control {
  z-index: 25;
  position: absolute;
  top: 40%;
  right: 20%;
}
