body {
  cursor: url(https://raw.githubusercontent.com/starlightknown/AIry_pages/main/quill.png), default !important;
}

div {
  font-size: 18pt;
  font-family: aquilinetworegular, papyrus, serif;
}

.a:hover {
  color: #AAAAAA;
  cursor: url(https://raw.githubusercontent.com/starlightknown/AIry_pages/main/quill.png), auto;
}
