body {
overflow : hidden;
padding : 0;
margin : 0;

color : #222;
background-color: #BBB;
font-family : arial;
font-size : 100%;
}
#info .top {
position : absolute;
top : 0px;
width : 100%;
padding : 5px;
text-align : center;
}
#info a {
color : #66F;
text-decoration : none;
}
#info a:hover {
text-decoration : underline;
}
#info .bottom {
position : absolute;
bottom : 0px;
right : 5px;
padding : 5px;
}
.windoz {  
  position: absolute; display: none; background-color: rgba(1,1,1,1);
  color: #fff; padding: 20px;
  box-shadow: 0px 0px 20px #0000FF;
  left: 50%; top: 50%; margin-left: -225px; margin-top: -170px;
  border-radius: 10px; width: 450px; height: 350px;
}

.windoz .petit {font-size: 8pt; font-style:italic }
.windoz h1 {color: #999}
.windoz a {display: inline-block; width: 120px; height: 20px; font-weight: bold; text-align: center; border-radius: 2px; text-decoration: none; background-color: #ff5400; color: black}
.windoz a:hover {background-color: red; color: black}




